//BANNER
@media screen and (max-width: 1300px)
  .banner
    &__container
      padding: 0 40px 0 80px

@media screen and (max-width: 1150px)
  .banner
    &__container
      padding: 0 30px 0 60px

@media screen and (max-width: 1110px)
  .banner
    padding: 67px 0 20px 0
    &__container
      padding: 0 25px 0 60px
    &__info
      transform-origin: left center
      transform: scale(.8)

@media screen and (max-width: 975px)
  .banner
    padding: 67px 0 0px 0
    margin-bottom: -50px

@media screen and (max-width: 870px)
  .banner
    margin-bottom: 0px
    padding: 60px 0 25px
    &__info
      transform: scale(1)
      top: 13px
      &-top
        font-size: 40px
        line-height: 38px
      &-center, &-bottom
        font-size: 33px
        width: 200px
        height: 45px
      &-center
        padding: 6px 12px 5px 10px
        span
          font-size: 15px
      &-bottom
        line-height: 36px
        &::before
          width: 22px
          height: 19px
          left: -11px
      &-sub
        font-size: 9px
        line-height: 12px
        margin: 30px 0 25px

@media screen and (max-width: 770px)
  .banner
    background-position: 65% 0

@media screen and (max-width: 745px)
  .banner
    &__container
      padding: 0 25px 0 40px

@media screen and (max-width: 600px)
  .banner
    margin: 0
    padding: 0
    max-height: 535px
    &::after
      content: ""
    &__container
      flex-direction: column-reverse
      align-items: center
      justify-content: flex-start
      position: static
      padding: 10px 15px 0 15px
    &__info
      margin: 0
      z-index: 4
      align-items: center
      width: 100%
      min-height: 535px
      padding-bottom: 65px
      &-link
        align-self: center
        margin-top: auto
      &-top
        font-size: 32.5px
        line-height: 38px
      &-wrap
        width: 100%
        justify-content: center
        max-height: 38px
        margin-top: 5px
      &-center, &-bottom
        font-size: 26px
        line-height: 26px
        width: 50%
        max-width: 170px
        max-height: 38px

      &-center
        padding: 7px 17px 5px 10px
        span
          font-size: 12px
      &-sub
        margin: 10px 0 0 0
        text-align: center

@media screen and (max-width: 365px)
  .banner
    &__info
      &-top
        font-size: 8.8vw
        line-height: 33px
      &-center, &-bottom
        font-size: 7.3vw
      &-bottom
        line-height: 28px
      &-center
        span
          font-size: 3.5vw
      &-sub
        font-size: 8px
        line-height: 12px

@media screen and (max-width: 325px)
  .banner
    &__info
      &-sub
        font-size: 7.5px
        line-height: 11px
      &-bottom
        &::before
          transform-origin: center
          transform: scale(.7) translate(0, -65%)

@media screen and (max-width: 1270px)
  .info
    margin-bottom: 40px
    &__item
      padding: 40px
      &-title
        font-size: 35px
        line-height: 40px
        margin: 0 0 10px 0

@media screen and (max-width: 975px)
  .info
    margin-top: -25px
    margin-bottom: 50px

@media screen and (max-width: 870px)
  .rules
    &__summary
      font-size: 22px
      line-height: 28px

@media screen and (max-width: 765px)
  .info
    &__container
      padding: 0 15px
    &__list
      display: grid
      grid-template-columns: calc(50% - 10px) calc(50% - 10px)
      gap: 20px
    &__item
      padding: 40px

@media screen and (max-width: 745px)
  .info
    margin-bottom: 23px
    &__list
      grid-template-columns: 100%

@media screen and (max-width: 700px)
  .info
    margin-bottom: 20px

@media screen and (max-width: 600px)
  .info
    margin: -30px 0 20px 0
    &__list
      gap: 15px
    &__item
      padding: 30px
      &-title
        font-size: 35px
        line-height: 40px
  .rules
    padding: 0 0 50px 0
    &__summary
      font-size: 18px
      line-height: 25px
      padding: 11px 14% 9px 20px
      &::before
        right: 25px
        width: 14px
        height: 9px
    &__text
      margin-top: 7px
      padding: 30px 20px
    &__item
      &-title
        font-size: 14px
        line-height: 28px
      &-list
        li
          font-size: 14px
          line-height: 28px

@media screen and (max-width: 376px)
  .rules
    &__summary
      font-size: 17px
      line-height: 23px

@media screen and (max-width: 370px)
  .info
    &__item
      &-title
        font-size: 30px
        line-height: 35px

@media screen and (max-width: 360px)
  .rules
    &__summary
      font-size: 14px
      line-height: 20px

@media screen and (max-width: 320px)
  .info
    &__item
      padding: 30px 20px
      &-link
        padding: 18px 30px 16px
  .rules
    &__summary
      font-size: 13px
      line-height: 18px

@media screen and (max-width: 950px) and (max-height: 450px) and (orientation: landscape)
  .banner
    padding-top: 10px
    max-height: 290px
    &__info
      height: 100%
      transform: scale(.8)
      transform-origin: top bottom

/************************FOLD

@media screen and (max-width: 700px) and (min-width: 640px) and (max-height: 700px) and (min-height: 640px) and (orientation: landscape)
  .banner
    &__info
      transform: scale(.9)

@media screen and (max-width: 700px) and (min-width: 640px) and (max-height: 700px) and (min-height: 640px) and (orientation: portrait)
  .banner
    &__info
      transform: scale(.9)