//BANNER
@media screen and (max-width: 1110px)
  .banner
    padding: 67px 0 20px 0
    &__container
      padding: 0 25px
    &__info
      transform-origin: left center
      transform: scale(.8)
    &__image
      bottom: -20px
      right: -400px
      width: 1058px
      height: 410px

@media screen and (max-width: 975px)
  .banner
    padding: 67px 0 0px 0
    margin-bottom: -50px

@media screen and (max-width: 870px)
  .banner
    margin-bottom: 0px
    padding: 0
    &__info
      transform: scale(.65)
      top: 13px
    &__image
      bottom: -10px
      right: -380px
      width: 908px
      height: 325px



@media screen and (max-width: 750px)
  .banner
    margin: -81px 0 10px 0
    &__image
      bottom: -10px
      width: 808px
      height: 250px
    &__info
      top: 53px
      transform: scale(.5)
      bottom: - 20px



@media screen and (max-width: 600px)
  .banner
    margin: 0
    padding: 34px 0 110px 0
    &__container
      flex-direction: column-reverse
      align-items: center
      position: static
      padding: 0
    &__image
      width: 100%
      min-width: 100%
      height: 88vw
      position: relative
      bottom: 0
      right: auto
      z-index: 2

    &__info
      top: 0
      margin: 0
      position: absolute
      left: 50%
      transform: translateX(-50%) scale(1)
      z-index: 4
      align-items: center
      width: 100%
      min-height: 100%
      bottom: 0
      padding-bottom: 15px
      &-sub
        padding: 0 15px
        text-align: center
        br
          display: none
      &-top
        position: absolute
        top: 0
        left: 0
        padding: 4px 10px 3px
        background: #FF267E
        flex: 1 1 auto
        text-align: center
        width: 100%
        font-size: 26px
        line-height: 34px
      &-promo
        font-size: 16px
        line-height: 22px
        padding: 4px 9px 3px
        position: absolute
        top: 60px
        right: 20px
      &-center
        font-size: 70px
        line-height: 74px
        margin: auto 0 20px 0
        span
          font-size: 24px
          line-height: 29px
          margin: 0 -9px 0 0
      &-bottom
        align-self: center
        padding: 6px 19.5px 5px
        font-size: 37px
        line-height: 41px
        margin: 0 0 20px 0
        &::before
          width: 38.4px
          height: 33.8px
      &-link
        margin: 0 0 20px 0
        padding: 15px 30px 13px
        font-size: 17px
        line-height: 26px
      &-info
        font-size: 8px
        line-height: 16px


@media screen and (max-width: 450px)
  .banner
    padding: 34px 0 170px 0


@media screen and (max-width: 365px)
  .banner
    padding: 34px 0 140px 0
    &__info
      &-sub
        font-size: 8px
        line-height: 15px
      &-center
        font-size: 60px
        line-height: 69px
        margin: auto 0 14px 0
      &-bottom
        font-size: 31px
        line-height: 38px
        &::before
          top: -13px
          left: -13px
          width: 33.4px
          height: 28.8px



@media screen and (max-width: 1270px)
  .info
    margin-bottom: 130px
    &__item
      padding: 40px
      &-title
        font-size: 35px
        line-height: 40px
        margin: 0 0 10px 0
  .new
    padding: 65px 0
    &__image
      .phone
        height: 530px
        width: 680px
        position: absolute
        bottom: -75px
        right: -110px
    &__info
      &-title
        font-size: 35px
        line-height: 40px
        margin: 0 0 20px 0



@media screen and (max-width: 975px)
  .info
    margin-top: -25px
    margin-bottom: 50px

  .new
    padding: 45px 0 90px 0
    &__info
      &-text
        max-width: 340px
    &__image
      .phone
        height: 411px
        width: 530px
        bottom: -95px
        right: -100px


@media screen and (max-width: 765px)

  .info
    &__container
      padding: 0 15px
    &__list
      display: grid
      grid-template-columns: calc(50% - 10px) calc(50% - 10px)
      gap: 20px
    &__item
      padding: 40px

@media screen and (max-width: 745px)
  .info
    margin-bottom: 23px
    &__list
      grid-template-columns: 100%
  .new
    &__container
      padding: 0 15px

@media screen and (max-width: 700px)
  .info
    margin-bottom: 20px
  .new
    background: $blue
    padding: 0
    margin-bottom: 40px
    &__container
      padding: 0
    &__row
      flex-direction: column-reverse
      align-items: stretch
    &__image
      padding-top: 20px
      position: static
      margin: 0 0 30px 0
      min-width: 100%
      display: flex
      justify-content: center
      .phone
        width: 100%
        height: 100vw
        position: relative
        bottom: -1px
        right: auto
    &__info
      padding: 0 15px
      min-width: 100%
      &-title
        font-size: 24px
        line-height: 34px
        text-align: center
        margin: 0 0 20px 0
      &-text
        max-width: 100%
        margin: 0 0 30px 0
      &-link
        width: 100%
        text-align: center


@media screen and (max-width: 600px)
  .info
    margin: 20px 0 20px 0
    &__list
      gap: 15px
    &__item
      padding: 30px
      &-title
        font-size: 35px
        line-height: 40px
  .rules
    padding: 0 0 50px 0
    &__summary
      font-size: 18px
      line-height: 25px
      padding: 11px 65px 9px 20px
      &::before
        right: 25px
    &__text
      margin-top: 7px
      padding: 30px 20px
    &__item
      &-title
        font-size: 14px
        line-height: 28px
      &-list
        li
          font-size: 14px
          line-height: 28px


@media screen and (max-width: 370px)

  .info
    &__item
      &-title
        font-size: 30px
        line-height: 35px
