$blue: #000055
$magenta: #ff267e
$green: #05C489
$green-hover: #09B47F
$grey: #ededed
$white: #ffffff
$pink: #FFDFEC
$grey-footer: #A6A6BE

$btn-white-hover-bg: #337
$btn-green-hover-bg: #37d0a1


$font-suisse-reg: 'SuisseIntl-Regular', sans-serif // 400 //
$font-suisse-med: 'SuisseIntl-Medium', sans-serif // 500 //
$font-suisse-semb: 'SuisseIntl-SemiBold', sans-serif // 600 //



@mixin breakpoint($bp)
  @media screen and (max-width: $bp)
    @content

[class*="__container"]
  max-width: 1260px
  margin: 0 auto
  padding: 0 15px

details summary::-webkit-details-marker
  display: none


body
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  overscroll-behavior: none

  img
    max-width: 100%
    height: auto
  &.overflow
    overflow: hidden

.wrapper
  overflow: hidden
  min-height: 100%

body.light
  .wrapper
    background: $blue
  .info
    &__item
      background: #00003D
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  .new
    background: url("../img/bg-desc-two-light.jpg") no-repeat 50% 0/cover
    @media screen and (max-width: 1040px)
      background: url("../img/bg-tab-two-light.jpg") no-repeat 50% 0/cover
    @media screen and (max-width: 700px)
      background: none
    &__image
      @media screen and (max-width: 700px)
        background: url("../img/bg-mob-two-light.jpg") no-repeat 50% 0/cover
    .phone
      background: url("../img/phone-desc-light.png") no-repeat 50% 0/contain
      @media screen and (max-width: 1040px)
        background: url("../img/phone-desc-light.png") no-repeat 50% 0/contain
      @media screen and (max-width: 700px)
        background: url("../img/phone-mob-light.png") no-repeat 50% 0/contain
  .rules
    &__summary
      background: #00003D
    &__text
      background: #00003D


body.dark
  .wrapper
    background: #191A23
  .info
    &__item
      background: #292B35
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
  .new
    background: url("../img/bg-desc-two-dark.jpg") no-repeat 50% 0/cover
    @media screen and (max-width: 1040px)
      background: url("../img/bg-tab-two-dark.jpg") no-repeat 50% 0/cover
    @media screen and (max-width: 700px)
      background: none
    &__image
      @media screen and (max-width: 700px)
        background: url("../img/bg-mob-two-dark.jpg") no-repeat 50% 0/cover
    .phone
      background: url("../img/phone-desc-dark.png") no-repeat 50% 0/contain
      @media screen and (max-width: 1040px)
        background: url("../img/phone-desc-dark.png") no-repeat 50% 0/contain
      @media screen and (max-width: 700px)
        background: url("../img/phone-mob-dark.png") no-repeat 50% 0/contain
  .rules
    &__summary
      background: #292B35
    &__text
      background: #292B35



body
  &.light
    .banner
      background: $blue
      &__image
        background: url("../img/pers-desc.jpg") no-repeat 0 0/contain
        @media screen and (max-width: 600px)
          background: url("../img/pers-mob.jpg") no-repeat 0 0/contain
      &__info
        &-bottom
          color: $blue
        &-link
          color: $blue
        &-top
          @media screen and (max-width: 600px)
            color: $blue

  &.dark
    .banner
      background: #12131C
      &__image
        background: url("../img/pers-desc-dark.jpg") no-repeat 0 0/contain
        @media screen and (max-width: 600px)
          background: url("../img/pers-mob.jpg") no-repeat 0 0/contain
      &__info
        &-bottom
          color: #12131C
          &::before
            filter: grayscale(1) brightness(3)
        &-link
          color: #12131C
        &-top
          @media screen and (max-width: 600px)
            color: #12131C

@media screen and (max-width: 600px)
  body
    &.light
      .banner
        &__image
          &::before
            content: ''
            position: absolute
            width: 100%
            height: 130px
            bottom: 20px
            left: 0
            z-index: 4
            background: linear-gradient(180deg, rgba(0, 0, 85, 0) 0%, #000055 65.91%)
    &.dark
      .banner
        &__image
          &::before
            content: ''
            position: absolute
            width: 100%
            height: 130px
            bottom: 20px
            left: 0
            z-index: 4
            background: linear-gradient(180deg, rgba(0, 0, 85, 0) 0%, #12131C 65.91%)


@media screen and (max-width: 450px)
  body
    &.light
      .banner
        &__image
          &::before
            height: 90px
    &.dark
      .banner
        &__image
          &::before
            height: 90px

.banner
  overflow: hidden
  padding: 166px 0 40px 0
  position: relative

  &__container
    max-width: 1330px
    padding: 0 60px
    margin: 0 auto
    display: flex
    align-items: center
    position: relative
    justify-content: space-between
  &__image
    position: absolute
    bottom: -20px
    right: -180px
    width: 998px
    height: 500px
    z-index: 0

  &__info
    position: relative
    z-index: 3
    top: -40px
    display: flex
    flex-direction: column
    &-promo
      align-self: flex-start
      padding: 6px 13px 4px
      font-family: $font-suisse-med
      font-size: 16px
      line-height: 22px
      letter-spacing: 0.01em
      text-transform: uppercase
      color: #000055
      background: #FF267E
      border-radius: 76.5px
      display: inline-block
      margin: 0 0 15px 0
    &-top
      font-family: $font-suisse-med
      font-size: 38px
      line-height: 40px
      letter-spacing: 0.01em
      text-transform: uppercase
      color: #EDEDED
      margin: 0 0 9px 0
    &-center
      white-space: nowrap
      font-family: $font-suisse-med
      font-size: 73px
      line-height: 69px
      letter-spacing: 0.01em
      text-transform: uppercase
      color: #FFFFFF
      margin: 0 0 29px 0
      span
        white-space: nowrap
        display: inline-block
        margin: 0 -5px 0 0
        font-size: 37px
        line-height: 29px
        font-family: $font-suisse-med
    &-bottom
      align-self: flex-start
      display: inline-block
      position: relative
      background: #FF267E
      padding: 6px 24px 5px
      font-family: $font-suisse-med
      font-size: 42px
      line-height: 52px
      letter-spacing: 0.01em
      text-transform: uppercase
      margin: 0 0 70px 0
      &::before
        content: ''
        position: absolute
        top: -17px
        left: -17px
        width: 42px
        height: 36px
        background: url("../img/plus.svg") no-repeat 0 0/contain
    &-sub
      display: list-item
      list-style-type: none
      font-family: $font-suisse-med
      max-width: 650px
      font-size: 10px
      line-height: 17px
      letter-spacing: 0.1px
      color: rgba(255, 255, 255, 0.80)
      a
        font-family: $font-suisse-med
        text-decoration: underline
        color: rgba(255, 255, 255, 0.80)
        &:hover
          text-decoration: none




.info
  margin-top: -65px
  margin-bottom: 135px
  position: relative
  z-index: 3
  &__container
    max-width: 1270px
    margin: 0 auto
    padding: 0 20px
  &__list
    display: grid
    grid-template-columns: calc(50% - 15px) calc(50% - 15px)
    gap: 30px
  &__item
    display: flex
    flex-direction: column
    padding: 60px 50px 50px 50px
    &-title
      font-family: $font-suisse-med
      text-transform: uppercase
      font-size: 47px
      line-height: 40px
      color: $grey
      margin: 0 0 25px 0
    &-text
      flex: 1 1 auto
      font-family: $font-suisse-reg
      //max-width: 370px
      font-size: 18px
      line-height: 28px
      letter-spacing: 0.02em
      color: $grey
      margin: 0 0 40px 0
    &-link
      align-self: flex-start
      font-family: $font-suisse-semb
      display: inline-block
      letter-spacing: 0.08em
      text-transform: uppercase
      font-size: 20px
      line-height: 26px
      color: $blue
      padding: 18px 33px 16px
      background: $green
      border-radius: 4px
      transition: background-color .3s ease
      &:hover
        background: $btn-green-hover-bg

.new
  padding: 70px 0
  margin-bottom: 100px


  &__container
    position: relative
    max-width: 1305px
    margin: 0 auto
    padding: 0 15px 0 60px
  &__row
    display: flex
  &__image
    .phone
      width: 741px
      height: 573px
      position: absolute
      bottom: -75px
      right: -70px
  &__info
    max-width: 485px
    &-title
      font-family: $font-suisse-semb
      font-size: 47px
      line-height: 61px
      text-transform: uppercase
      color: $grey
      margin: 0 0 20px 0
    &-text
      font-family: $font-suisse-reg
      font-size: 18px
      line-height: 28px
      letter-spacing: 0.02em
      color: $grey
      margin: 0 0 30px 0
    &-link
      font-family: $font-suisse-semb
      display: inline-block
      letter-spacing: 0.08em
      text-transform: uppercase
      font-size: 20px
      line-height: 26px
      color: $blue
      padding: 18px 44px 16px
      background: $green
      border-radius: 4px
      transition: background-color .3s ease
      &:hover
        background: $btn-green-hover-bg

.rules
  color: $grey
  padding: 0 0 100px 0
  &__details[open] .rules__summary::before
    transform: translateY(-50%) rotate(0deg)

  &__summary
    position: relative
    font-family: $font-suisse-semb
    font-size: 22px
    line-height: 40px
    letter-spacing: 0.05em
    text-transform: uppercase
    padding: 22px 65px 20px 35px
    cursor: pointer
    list-style: none
    border-radius: 4px
    color: $grey
    &::before
      content: ''
      position: absolute
      width: 20px
      height: 10px
      top: 50%
      right: 34px
      transform: translateY(-50%) rotate(180deg)
      background: url("../img/arrow.svg") no-repeat 0 0/contain
  &__text
    padding: 30px 35px
    border-radius: 4px
    margin-top: 3px
  &__item
    &-title
      font-family: $font-suisse-reg
      color: $grey
      font-size: 16px
      line-height: 28px
      letter-spacing: 0.02em
      margin: 0 0 25px 0
    &-list
      >li
        margin: 0 0 25px 0
      li
        font-family: $font-suisse-reg
        color: $grey
        font-size: 16px
        line-height: 28px
        letter-spacing: 0.02em
        ul
          margin-top: 25px
          li
            font-family: $font-suisse-reg
            margin: 0 0 25px 0
            p
              font-family: $font-suisse-reg
            ul
              margin-top: 25px
              li
                font-family: $font-suisse-reg
                margin: 25px 0 25px 0











